<!DOCTYPE html>

<html>

<head>

</head>


<body>

<div class="row">

	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h2><i class="fa fa-info-circle fa-fw"></i>Über uns</h2>
		</div>
		
		<div class="panel-body">
			<h3>Wer sind wir?</h3>
			<p>
				<i class="fa fa-caret-right fa-fw"></i>Die Gilde Seelenwanderer wurde bereits im Jahre 2008 gegründet. Wir bestehen aus einem festen Kern an Leuten, die seit dieser Zeit der Gilde die Treuen gehalten haben. Da die Meisten seit ihrer Anfänge auf dem Server Blutkessel wandeln, exisitert hier eine starke Verbundenheit. Unseren langjährigen Mitgliedern und dieser Verbundenheit mit dem Server sind es zu verdanken, dass unsere Gilde auch heute noch aktiv und erfolgreich den PvE-Inhalt bestreitet.
				<br />
				<br />
				<i class="fa fa-caret-right fa-fw"></i>Viele unserer heutigen Mitglieder spielen bereits seit der offiziellen Veröffentlichung des Spiels und haben daher über die Zeit große Erfahrung und Wissen über das Spiel und über ihren Charakter gesammelt. Tatsächliche spiele viele noch die Klasse, mit der sie bereits zu Vanilla-Zeiten die Welt Azeroths bereisten.
				Genau diese Eigenschaften sind es, die immer wieder in Bosstaktiken und -kämpfen zu tragen kommen und uns weiterbringen.
				<br />
				<br />
				<i class="fa fa-caret-right fa-fw"></i>Der Kreis der Offiziere existiert bereits - in einer allerdings kleineren Form, seit dem Gründungsjahr 2008! Dadurch herrscht vor allem eine gute und vertrauensvolle Atmosphäre innerhalb der Gilde und der Stammgruppe. Spaß, Spiel-Freude und ein gutes Klima sind die drei Merkmale, die wir seit jeher predigen und an neue Mitglieder weiterreichen wollen. 
				<br />
				<br />
				<i class="fa fa-caret-right fa-fw"></i>Unser Interesse im Spiel gilt trotz allem noch immer dem Durchspielen des aktuellen Inhalts: D.h. wir wollen versuchen den Endboss jedes Schlachtzugs vor Beginn des nächsten Inhaltspatches auf dem Schwierigkeitsgrad "Heroisch" zu besiegen. 
			</p>

			<h3>Wen suchen wir?</h3>
			<p>
				<i class="fa fa-caret-right fa-fw"></i>Wir suchen beständige und zuverlässige Spieler, die Spaß an ihrer Klasse und den Bossen zeigen und sich in ein Team integrieren lassen. Hierbei zählt nicht nur spielerisches Können und Raffinesse. Ein guter und gepflegter Umgangston, Kritik- und Teamfähigkeit werden genauso vorausgesetzt.
				<br />
				<br />
				<i class="fa fa-caret-right fa-fw"></i>Gute Ausrüstung ist nicht unwichtig. Allerdings stellen wir auch keine unangemessenen Anforderungen an eure Ausrüstung. Das Sammeln von guten Gegenständen in einer eingespielten Gruppe dauert meist nur einige Tage, das Sammeln von Spiel-Erfahrung hingegen Monate.
				<br />
				<br />
				<i class="fa fa-caret-right fa-fw"></i>Mit dem neuen flexiblen Modus für die Schwierigkeitsgrade "Normal" und "Heroisch" wurde vielen Gilden einen großen Gefallen getan - so auch uns. So können wir jedem die Chance bieten, in der Stammgruppe mitzuspielen. Ausgeschlossen werden nur Leute, die große Defizite in den oben genannten Bereichen zeigen. Was wir nicht gerne sehen, sind Leute, die sich ausrüsten lassen aber nichts dafür tun wollen. Denn Leistung sollte immer die Beuteverteilung bestätigen (und widerspiegeln).
			</p>
			
			<h3>Aktuell suchen wir:</h3>
			<ul class="no-list">
				<li><i class="icon icon-tank"></i>Keine</li>
				<li><i class="icon icon-healer"></i>Keine</li>
				<li><i class="icon icon-damage"></i>Keine</li>
			</ul>

			<h3>Raidzeiten:</h3>
			<ul class="no-list">
				<li><i class="fa fa-clock-o fa-fw"></i>Donnerstag: 19:15 - 22:00</li>
				<li><i class="fa fa-clock-o fa-fw"></i>Sonntag: 19:15 - 22:00</li>
			</ul>
			Für sonstige Termine sind Mitglieder immer sehr gerne gesehen.
		</div>
	</div>
	
</div>
    
	
</body>




</html>