<!DOCTYPE html>

<html>

<head>

</head>


<body>

<div class="row">

	<div class="panel panel-inverse">
	
		<div class="panel-heading">
			<h2><i class="fa fa-pencil-square fa-fw"></i>Bewerben</h2>
		</div>
		
		<div class="panel-body">
			<blockquote>
				Bitte schicke uns Deine Bewerbung über das <a href="http://seelenwanderer.forumprofi.de/index.php" target="_blank" title="Forum">Forum</a>. Du kannst dich dazu an unserer Vorlage orientieren.
				Wir beraten uns dann und laden Dich gegebenenfalls zu einem TS-Gespräch ein.

				<footer>VG Die Seelenwanderer</footer>
			</blockquote>
		</div>
		
	</div>

</div>
    
	
</body>




</html>