<!DOCTYPE html>

<html>

<head>

</head>


<body>

<div class="row">

	<div class="card header">
		<h2>Willkommen auf unserer kleinen Internetseite.</h2>
	</div>

	<div class="card">
		<p>
			Willkommen auf der Homepage der Gilde Natas vom Server Blutkessel.
			Auf dieser Seite findet ihr alles wissenswerte über die Gilde, über unsere Mitglieder und die wichtigsten Links.
		</p>
	</div>
	
	<!--
	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h2><i class="fa fa-exclamation-circle"></i>Rekrutierung</h2>
		</div>
		
		<div class="panel-body">
			<h3>Aktuell suchen wir:</h3>
			<ul class="no-list">
				<li><i class="icon icon-tank"></i>Druide, Mönch, Paladin, Todesritter</li>
				<li><i class="icon icon-heal"></i>Jede Klasse</li>
				<li><i class="icon icon-damage"></i>Magier, Eulkin</li>
			</ul>
		</div>
	</div>
	
	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h2><i class="fa fa-newspaper-o"></i>Neuigkeiten</h2>
		</div>
		
		<div class="panel-body">
			<p>
				<i class="fa fa-caret-right"></i><u>Jetzt verfügbar:</u> das Mitglieder-Tab. Hier könnt ihr alle Mitglieder der Stammgruppe auf einen Blick sehen. In jeder Spalte findet ihr einen Link zum WoW-Arsenal des Spielers.
			</p>
		</div>
	</div>
	-->

</div>
    
	
</body>




</html>