<!DOCTYPE html>

<html>

<head>

</head>


<body>

<div class="row">

	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h2>Willkommen auf unserer kleinen Internetseite.</h2>
		</div>
		
		<div class="panel-body">
			Die Seelenwanderer sind seit ihrem Gründerjahr 2008 eine der ältesten Gilden auf dem Server und hier stark verwurzelt.
			Viele langfristige Spieler gehören hier zum festen, harten Kern und bewegen sich schon seit Classic-Zeiten in WoW.
			Unsere aktuelle Stammgruppe besteht mit einzelnen Ausnahmen seit Cataclysm.

			Wir bestehen fast ausschließlich aus erfahrenen Spielern und auch der Offi-Kreis existiert seit vielen Jahren im festen Kern. Wir bestehen aus jüngeren, sowie älteren Spielern und stehen mitten im Berufsleben. Unser Interesse liegt weder darin, irgendwelche Deutschland-Firsts zu holen, noch unser gesamtes RL für WoW zu opfern. Wir spielen mit Spaß, aber unser Ziel in WoD besteht darin, von vornherein ganz vorn im Progress mit dabei zu sein.

			Wir pflegen einen höflichen Umgangston und helfen uns gegenseitig bei allen möglichen Aufgaben.
		</div>
	</div>

</div>
    
	
</body>




</html>