blockquote {
  border-left: 0;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
	background-color: #337ab7;
	color: #fff;
	border: 1px solid #337ab7 !important;
}